openapi: 3.1.0
info:
  title: outplan API
  version: "1.0.0"
  description: |
    Hand-written and kept in step with the code by hand. A change to an endpoint,
    a field, a status code or an error is not finished until this file says so.

    Everything under /api/v1 needs an Authorization header. Everything except
    POST /sessions also needs x-session-id, unless the credential is an agent key,
    which is itself the session.
servers:
  - url: https://api.outplan.org

tags:
  - name: public
  - name: sessions
  - name: farm
  - name: care
  - name: goals
  - name: plan
  - name: talk
  - name: files
  - name: agent keys

components:
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      description: A Firebase ID token, or an agent key beginning `oak_`.
    session:
      type: apiKey
      in: header
      name: x-session-id
      description: The device session. Omitted when the bearer is an agent key.
  schemas:
    Error:
      type: object
      properties:
        ok: { type: boolean, enum: [false] }
        error:
          type: object
          properties:
            code: { type: string, example: BAD_REQUEST }
            message: { type: string, description: Written to be shown to a person. }
            detail:
              type: object
              description: On validation failures, `fields` says which field and why.
    ReplyParts:
      type: object
      properties:
        messages:
          type: array
          maxItems: 3
          items: { type: string }
          description: One to three bubbles, the way someone types on a phone.
        question:
          type: object
          description: Dropped entirely if it has fewer than two options; one option is not a choice.
          properties:
            text: { type: string }
            options: { type: array, minItems: 2, maxItems: 4, items: { type: string } }
    Exchange:
      type: object
      properties:
        id: { type: string, format: uuid }
        said: { type: string }
        replied: { type: string, nullable: true }
        replyParts: { $ref: '#/components/schemas/ReplyParts' }
        coveredById:
          type: string
          format: uuid
          nullable: true
          description: >
            Set when this message was answered as part of a later reply, because
            several arrived before any answer. Not unanswered; answered together.
        saidAt: { type: string, format: date-time }
        repliedAt: { type: string, format: date-time, nullable: true }
        localDay: { type: string, example: "2026-09-18" }
        corrections: { type: array, items: { type: object } }
    GoalNode:
      type: object
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        why: { type: string, nullable: true, description: Why it is a goal, from the record's own words. }
        kind: { type: string, enum: [outcome, behaviour, container] }
        status:
          type: string
          enum: [proposed, waiting_baseline, blocked, active, achieved, abandoned]
        direction: { type: string, enum: [down, up, reach, stop, maintain] }
        measure: { type: string, nullable: true }
        baselineValue: { type: number, nullable: true }
        targetValue: { type: number, nullable: true }
        achievedAt: { type: string, format: date-time, nullable: true }
        blockedBy:
          type: array
          description: Goals that must finish first. "Thiamine repletion before any alcohol reduction".
          items:
            type: object
            properties:
              id: { type: string }
              title: { type: string }
              achieved: { type: boolean }
        standing:
          type: object
          properties:
            fraction:
              type: number
              nullable: true
              description: >
                0 to 1, or null when it cannot honestly be known. Null shows as
                "waiting", never as 0% - a goal with no baseline has not failed
                to progress, it has not started. Clamped at both ends: past the
                target is 100%, and going backwards is 0% rather than negative.
            current: { type: number, nullable: true }
            reached: { type: boolean }
            summary: { type: string, example: "121.36 to 90 mg/dL, now 110 mg/dL" }
        children: { type: array, items: { $ref: '#/components/schemas/GoalNode' } }

    PlanItem:
      type: object
      properties:
        id: { type: string, format: uuid }
        localDay: { type: string, example: "2026-09-18" }
        key: { type: string, description: Stable per source per day, e.g. "intervention:<uuid>". }
        title: { type: string }
        detail: { type: string, nullable: true }
        atLocal:
          type: string
          nullable: true
          example: "20:00"
          description: >
            Null for "with breakfast", which is a time of day rather than a time.
        sortOrder: { type: integer, description: Minutes into the day. Morning before evening. }
        source: { type: string, enum: [intervention, manual] }
        status: { type: string, enum: [pending, done, skipped] }
        doneAt: { type: string, format: date-time, nullable: true }
        doneVia:
          type: string
          enum: [tap, said]
          nullable: true
          description: >
            Tapped, or said out loud and matched. Kept apart because "I ticked
            this" and "the app decided I meant this" are different certainties.

    StoredFile:
      type: object
      properties:
        id: { type: string, format: uuid }
        filename: { type: string }
        mediaType: { type: string }
        bytes: { type: integer }
        kind: { type: string, enum: [report, plan, scan, note, other] }
        status: { type: string, enum: [current, superseded, draft] }
        contentDate:
          type: string
          format: date
          nullable: true
          description: The date the CONTENT is about, not when it was uploaded.
        pages: { type: integer, nullable: true }
        bookingRef: { type: string, nullable: true }
        digestedAt:
          type: string
          format: date-time
          nullable: true
          description: Null means stored but not yet read, so nothing from it is in the record.
        digestNote: { type: string, nullable: true }
        hash: { type: string }
    AgentKey:
      type: object
      properties:
        id: { type: string, format: uuid }
        label: { type: string }
        scopes: { type: array, items: { type: string } }
        createdAt: { type: string, format: date-time }
        lastUsedAt: { type: string, format: date-time, nullable: true }
        revokedAt: { type: string, format: date-time, nullable: true }
        expiresAt: { type: string, format: date-time, nullable: true }

security:
  - bearer: []
    session: []

paths:
  /health:
    get:
      tags: [public]
      security: []
      summary: Whether this process can do its job
      description: >
        `ok` means "can serve", not "every variable is set". Secrets appear as
        fingerprints, never values. `files.ephemeral` true means writes vanish at
        the next deploy.

        `brain` reports whether the reasoning service has actually been
        ANSWERING, recorded from real calls rather than probed. It exists
        because this endpoint answered ok:true through a total reasoning
        outage: the production credential is an OAuth session, it expired, and
        chat replies, record extraction, compaction and goal decomposition all
        stopped at once while the key sat present in the environment.
        `needsNewCredential` separates an expired credential, which needs a
        person, from an overload, which needs waiting. It does not gate `ok`,
        because restarting cannot renew a credential.
      responses:
        '200': { description: Serving }
        '503': { description: Cannot serve }

  /api/v1/config:
    get:
      tags: [public]
      security: []
      summary: Client-safe settings
      description: An allowlist. The same table holds CORS origins and the model name.
      responses:
        '200':
          description: Settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  data:
                    type: object
                    properties:
                      talk.status_labels:
                        type: array
                        description: What to say while someone waits, and when. `at` is ms since sending.
                        items:
                          type: object
                          properties:
                            at: { type: integer }
                            label: { type: string }
                      talk.placeholder:
                        type: string
                        description: What the empty message box says. Config, not code.
                      talk.max_message_chars: { type: integer }

  /api/v1/sessions:
    post:
      tags: [sessions]
      security: [{ bearer: [] }]
      summary: Register this device
      description: The one call that cannot require a session, because it creates one.
      responses:
        '201': { description: Created }
    get:
      tags: [sessions]
      summary: Devices signed in
      responses: { '200': { description: List } }
    delete:
      tags: [sessions]
      summary: Sign out everywhere
      parameters:
        - { name: keep, in: query, schema: { type: string, enum: [current] } }
      responses: { '204': { description: Done } }

  /api/v1/sessions/{id}:
    delete:
      tags: [sessions]
      summary: Sign out one device
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      responses: { '204': { description: Done } }

  /api/v1/farm:
    get:
      tags: [farm]
      summary: The farm, computed from the record
      description: >
        Nothing about farm state is stored. It is a read over rows that already
        exist - observations written from conversation, plan items ticked, files
        uploaded - because two stores for one fact drift and the one people look
        at would be the wrong one.

        Five rules hold it together. Nothing dies: there is no state below
        "needs attention". Weeks not streaks: five of seven days, so a bad
        Tuesday breaks no chain. Effort not outcome: no mechanic reads a lab
        value. More is not better: everything caps at its target. And absence
        must not signal - a farm with no fireflies looks the same whether its
        owner sleeps badly or has not unlocked them.

        `health` is `unknown`, not a problem, when nothing of that kind has ever
        been logged. An empty week is not a failing farm, it is an app that has
        not been told anything.
      responses:
        '200':
          description: The farm
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  data:
                    type: object
                    properties:
                      today: { type: string, format: date }
                      rings: { type: integer, description: One a month since the account began. }
                      winter:
                        type: boolean
                        description: >
                          Illness, not symptoms. Triggered by words meaning unwell
                          today, never by a standing complaint - otherwise someone
                          with chronic symptoms lives in permanent winter and the
                          season stops meaning anything.
                      nudge: { type: string, nullable: true, description: At most one thing. }
                      mechanics:
                        type: array
                        items:
                          type: object
                          properties:
                            key: { type: string }
                            scene: { type: string, example: Leaves }
                            health: { type: string, enum: [thriving, steady, needs_attention, dormant, unknown] }
                            days: { type: integer }
                            window: { type: integer }
                            amount: { type: number, nullable: true }
                            unit: { type: string, nullable: true }
                            note: { type: string, example: "5 of 12 doses over the last 7 days" }
                      visitors:
                        type: array
                        items:
                          type: object
                          properties:
                            key: { type: string }
                            name: { type: string }
                            earnedFor: { type: string, description: Every reward explains itself. }
                            earned: { type: boolean }
                      roots:
                        type: array
                        description: Records as roots. Completeness, never results.
                        items:
                          type: object
                          properties:
                            category: { type: string }
                            count: { type: integer }

  /api/v1/farm/quiz:
    get:
      tags: [farm]
      security: []
      summary: The tree quiz
      description: >
        PUBLIC, because someone meets their tree before being asked for
        anything. Five questions about temperament and how a day is spent. NONE
        is about health: the tree appears on a share card and beside neighbours'
        farms, so a quiz that asked about symptoms would make the resulting tree
        a disclosure that travels. All seven trees are reachable and the same
        answers always give the same tree.
      responses: { '200': { description: Questions and the trees } }

  /api/v1/farm/plant:
    post:
      tags: [farm]
      summary: Choose and name a tree
      description: >
        The quiz suggests, the person decides; both are stored. Re-taking it
        renames and re-picks rather than starting a second farm, because nothing
        earned is attached to the species and changing your mind should cost
        nothing.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                answers: { type: object, additionalProperties: { type: integer } }
                tree: { type: string, enum: [banyan, mango, neem, cherry, oak, bamboo, baobab] }
                name: { type: string, maxLength: 40 }
      responses: { '201': { description: Planted } }

  /api/v1/farm/roots:
    get:
      tags: [farm]
      summary: What the record is made of
      description: >
        Not the files. The Records screen is the files, and a browsable list of
        documents with soil drawn round it would be the same screen twice. These
        are the things INSIDE the documents: how many markers have ever been
        measured, how many of those have more than one reading, what is known
        about symptoms, medicines and genetics, and how far back it goes.

        COMPLETENESS, NEVER RESULTS. A marker sitting at a frightening value
        grows exactly the same root as a good one. No value is returned, nothing
        is ranked by concern, nothing is coloured by whether a number is bad.
        That rule is what makes uploading safe and what lets this be shown to
        someone who does not want to look at their results.

        `repeated` is markers with more than one reading, which is the honest
        measure of how much the record can actually say: a second reading is
        what turns a number into a direction.
      responses:
        '200': { description: Roots, span and repeat count }

  /api/v1/farm/discoveries:
    get:
      tags: [farm]
      summary: Patterns found in their own behaviour
      description: >
        Behaviour against behaviour, never against a lab value. Needs 14 days and
        at least 4 days on each side of the comparison, and a gap of 30 points
        before it says anything - a pattern over four days is a coincidence with
        a nice sentence attached. Every card shows how many days it rests on, and
        describes rather than prescribes.
      responses: { '200': { description: Discovery cards } }

  /api/v1/farm/neighbours:
    get:
      tags: [farm]
      summary: The farms beside this one
      description: >
        EARNED REWARDS ONLY. No problem states, quests, records or conversation,
        and no count of what is missing - "3 of 6" tells a neighbour about three
        habits this person is not keeping. Each reward carries how it is earned,
        which is what makes a neighbour's farm teach anything.
      responses: { '200': { description: Neighbouring farms } }

  /api/v1/farm/invite:
    post:
      tags: [farm]
      summary: Create an invitation
      description: >
        The code is random and carries nothing about the sender: a stranger who
        guesses one must learn no health data and no identity.
      responses: { '201': { description: A code } }

  /api/v1/farm/invite/{code}:
    get:
      tags: [farm]
      security: []
      summary: What a visitor sees before signing up
      description: >
        PUBLIC, and the most exposed surface in the product: a first name, a tree,
        its name, and earned rewards. Never a full name - that is the string
        medical reports are matched against - and never what is missing.
      parameters: [{ name: code, in: path, required: true, schema: { type: string } }]
      responses:
        '200': { description: The farm and the plot saved for them }
        '404': { description: Not a valid invitation }

  /api/v1/farm/invite/{code}/accept:
    post:
      tags: [farm]
      summary: Become neighbours
      description: >
        No reward is granted here. A free month lands only when the invited
        friend's first payment clears: rewarding a signup invites self-referral
        and trial-cancel loops, and a discount that can be farmed is not one.
      parameters: [{ name: code, in: path, required: true, schema: { type: string } }]
      responses:
        '200': { description: Neighbours }
        '400': { description: Your own invitation, or already used }

  /api/v1/care:
    get:
      tags: [care]
      summary: Who is in my circle and what each can see
      description: >
        One screen, in the words the owner chose. "You can revoke this" is only
        true if they can see what it is.

        Returns each link's raw switches (seeCheckIn, seeDoses, seeProblems,
        seeQuietDays) alongside the sentence form, so the owner's screen can put
        each one in the first person rather than reading a description of
        somebody back to them.
      responses: { '200': { description: The circle } }
    post:
      tags: [care]
      summary: Add someone to my circle
      description: >
        Only the owner creates a link. Every category starts OFF, a default that
        shares is a default nobody chose, and this is a medication history.
        Re-adding someone unpauses; it never restores toggles they once had.
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [email], properties: { email: { type: string, format: email } } }
      responses:
        '201': { description: Added, seeing nothing yet }
        '404': { description: Nobody with that address uses outplan }

  /api/v1/care/{id}:
    post:
      tags: [care]
      summary: Change what one person can see
      description: Owner only. A viewer can ask and that is all.
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                seeCheckIn: { type: boolean }
                seeDoses: { type: boolean }
                seeProblems: { type: boolean }
                seeQuietDays: { type: boolean }
                quietAfterDays: { type: integer, minimum: 1, maximum: 30 }
      responses: { '200': { description: Updated } }

  /api/v1/care/{id}/pause:
    post:
      tags: [care]
      summary: Pause or resume sharing
      description: >
        Paused, never deleted. The viewer is told only that sharing has paused,
        never why: a reason would be a disclosure of its own.
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      responses: { '200': { description: Paused or resumed } }

  /api/v1/care/view/{ownerId}:
    get:
      tags: [care]
      summary: Look at someone who put me in their circle
      description: >
        Assembled from their toggles one at a time. A field that is off is never
        read, so no rendering bug can leak what the query did not return. Doses
        come back as a count, never which ones: knowing a missed medicine by name
        is a diagnosis by another route. Quiet days phrase as a prompt to call,
        never a report of failure.
      parameters: [{ name: ownerId, in: path, required: true, schema: { type: string } }]
      responses:
        '200': { description: What they allow }
        '403': { description: Not in their circle }

  /api/v1/goals:
    get:
      tags: [goals]
      summary: The goal tree, with progress worked out from the record
      description: >
        Nothing about progress is stored. A saved percentage drifts away from the
        measurements it claims to summarise, and then the app is describing
        someone's health with a figure nothing supports. A container's progress
        is the plain mean of its children, so a number on screen can always be
        checked by counting.
      responses:
        '200':
          description: Tree plus the scoreboard
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  data:
                    type: object
                    properties:
                      goals: { type: array, items: { $ref: '#/components/schemas/GoalNode' } }
                      scoreboard:
                        type: object
                        properties:
                          thisMonth: { type: integer }
                          thisYear: { type: integer }
                          total: { type: integer }

  /api/v1/goals/propose:
    post:
      tags: [goals]
      summary: Break something he wants into goals small enough to finish
      description: >
        Recursive. "Go meds free" is a container holding one goal per medicine,
        and each of those is the REASON that medicine exists - which is already
        in the intervention's `reason` column. Splitting continues until each
        leaf is one number to move or one thing to do.

        Everything created is PROPOSED. A model suggesting a goal is not the same
        as him wanting one, which is why there is a confirm step.

        Grounded in the record: the model is given his open medicines with their
        reasons and the exact marker names available. It never writes a goal that
        says to stop or reduce a prescribed medicine.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [intent]
              properties:
                intent: { type: string, maxLength: 500, example: "I want to go meds free" }
                exchangeId: { type: string, format: uuid, description: The message it came from. }
      responses:
        '201': { description: Proposed goals, with the whole tree }
        '400': { description: Could not break it down }

  /api/v1/goals/{id}/confirm:
    post:
      tags: [goals]
      summary: Turn a proposal into a goal
      description: >
        A baseline may be supplied here. Without one an outcome goal becomes
        waiting_baseline and reports no progress at all, rather than pretending.
        "lose inches" with no starting waist is a wish, not a goal.

        Confirming a container CONFIRMS ITS SUBTREE. One sentence decomposes
        into forty pieces, and forty separate confirmations is a wall nobody
        walks through. Dropping an individual part afterwards is one tap and it
        is reversible.

        Two things never cascade. An inferred goal, because agreeing to "get off
        the statin" is not agreeing that inflammation underlies everything, and
        taking the second as part of the first is how an assumption becomes a
        fact in a health record. And an abandoned goal, because he already said
        no to that one.

        A supplied baseline applies ONLY to the goal it was sent for. Copying it
        down would invent a starting number for every child.
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                baselineValue: { type: number }
                baselineText: { type: string, maxLength: 200 }
      responses:
        '200':
          description: >
            Now active. Returns { goal, alsoConfirmed }, where alsoConfirmed is
            how many goals under it were confirmed by the cascade.
        '400': { description: Already set }

  /api/v1/goals/{id}:
    delete:
      tags: [goals]
      summary: Give up on a goal
      description: >
        Marked abandoned, never deleted. What he tried and stopped is part of the
        picture, and a goal that vanishes takes the reason it existed with it.
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      responses: { '204': { description: Abandoned } }

  /api/v1/plan:
    get:
      tags: [plan]
      summary: What to do today, and what is done
      description: >
        Generated from open interventions whose schedule is actually daily.
        As-needed, SOS, irregular and uncertain ones are left off: a list that
        includes things you are not meant to do every day is a list you stop
        trusting. Idempotent - asking again adds what is new and never clears
        what has been ticked.
      parameters:
        - { name: day, in: query, schema: { type: string, format: date },
            description: Their local day. Omitted means today where they are. }
      responses:
        '200':
          description: The day
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  data:
                    type: object
                    properties:
                      day: { type: string, example: "2026-09-18" }
                      items: { type: array, items: { $ref: '#/components/schemas/PlanItem' } }

  /api/v1/plan/{id}/done:
    post:
      tags: [plan]
      summary: Tick or untick
      description: >
        Items are also ticked by saying so. "took my morning meds" in /talk marks
        every morning item, "magnesium liya" marks that one. Those arrive with
        doneVia "said" and carry the observation that proved it; unticking clears
        both.
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: { done: { type: boolean, default: true } }
      responses:
        '200': { description: The updated item }
        '404': { description: No such thing on your plan }

  /api/v1/talk:
    post:
      tags: [talk]
      summary: Say something
      description: >
        Messages sent before any answer are answered together: the reply attaches
        to the newest and the earlier ones carry coveredById. The message is
        stored before reasoning is attempted, so a model outage never costs it.
        When reasoning cannot be reached the reply is a plain line saying so,
        with model "unavailable", rather than no reply at all: a message with
        nothing under it is indistinguishable from being ignored.
        Refused for agent keys.

        `answering` is the id of the exchange whose reply asked the question this
        message answers. Send it ONLY when he tapped one of the offered options,
        never when he typed. Without it a tapped answer arrives as a bare option
        word with nothing to attach it to: "Boiled" is stored as a message about
        nothing and the extractor reads it as a message about nothing. It is
        checked against his own exchanges and ignored if it does not point at
        one.

        The reply carries a question far less often than it used to. The default
        reply has none: a question is earned only when the next move genuinely
        forks on the answer, and the server drops one outright if two of the last
        four replies already carried a question. That ceiling is enforced here
        rather than trusted to the prompt, for the same reason the red flags are
        a regex: a model can be talked out of a rule and cannot be talked out of
        a check. The messages always ship; only the question is dropped.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [said]
              properties:
                said: { type: string, minLength: 1, maxLength: 8000 }
                answering: { type: string, format: uuid }
      responses:
        '201':
          description: Stored, with a reply when one could be produced
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  data: { $ref: '#/components/schemas/Exchange' }
        '403':
          description: An agent key cannot be used for conversation
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
    get:
      tags: [talk]
      summary: History
      parameters:
        - { name: day, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer } }
        - { name: cursor, in: query, schema: { type: string } }
      responses: { '200': { description: List } }

  /api/v1/talk/export:
    get:
      tags: [talk]
      summary: Everything, for taking away
      responses: { '200': { description: Every exchange } }

  /api/v1/talk/{id}:
    get:
      tags: [talk]
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      responses: { '200': { description: One exchange } }

  /api/v1/talk/{id}/record:
    delete:
      tags: [talk]
      summary: Take back what was read from a message
      description: >
        Removes every observation extracted from that one message, and un-ticks
        any day-plan item that was marked done from one of them. The message
        itself is never touched: his words are the record, and what was inferred
        from them is not.

        This is UNDO, not approval. Extraction runs after the reply is sent and
        writes straight away, because his words are already stored and an
        observation derived from them can always be rebuilt. Asking before every
        logged meal would tax every correct reading to catch the rare wrong one,
        and it would be another question.

        Every observation carries `said`: did, will, did-not, used-to,
        considering, asking-about. Only `did` is a thing that happened and only
        `did` ticks the day plan. An item the model cannot classify is dropped
        rather than defaulted, because the boolean this replaces defaulted to
        "they did it".

        `parsed` is set to an empty array rather than null afterwards. "Read, and
        nothing in it" and "not looked at yet" are different facts.

        Safe to call twice. Refused for agent keys, like the rest of /talk.
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      responses:
        '200': { description: The exchange, with parsed now empty }
        '404': { description: No such message }

  /api/v1/talk/{id}/correct:
    post:
      tags: [talk]
      summary: Say it got something wrong
      description: Not an edit. Both versions stay, and the correction is replayed into later context.
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [wasWrong]
              properties:
                wasWrong: { type: string, maxLength: 4000 }
                isRight: { type: string, maxLength: 4000 }
                domain: { type: string, maxLength: 80 }
      responses: { '201': { description: Recorded } }

  /api/v1/files:
    post:
      tags: [files]
      summary: Upload a report, scan or document
      description: >
        Do not set content-type; the browser writes the multipart boundary. Omit
        optional fields rather than sending them empty - FormData turns undefined
        into the string "undefined". 25 MB ceiling. The path on disk comes from
        the SHA-256, never the filename.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
                kind: { type: string, enum: [report, plan, scan, note, other] }
                status: { type: string, enum: [current, superseded, draft] }
                contentDate: { type: string, format: date }
      responses:
        '201':
          description: Stored
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  duplicate: { type: boolean, enum: [false] }
                  data: { $ref: '#/components/schemas/StoredFile' }
        '200':
          description: >
            The same bytes were already here. Nothing was created; a report is
            digested exactly once.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  duplicate: { type: boolean, enum: [true] }
                  data: { $ref: '#/components/schemas/StoredFile' }
    get:
      tags: [files]
      summary: Everything stored
      responses:
        '200':
          description: List
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  data: { type: array, items: { $ref: '#/components/schemas/StoredFile' } }

  /api/v1/files/read-pending:
    post:
      tags: [files]
      summary: Read anything uploaded but not yet read
      description: >
        Registered before /files/{id} or Express reads "read-pending" as an id.
        Answers with what happened per file rather than a count.
      responses: { '200': { description: One outcome per file } }

  /api/v1/files/{id}/content:
    get:
      tags: [files]
      summary: The original bytes
      description: >
        Requires the auth headers, so a plain link cannot reach it. Fetch it and
        hand the blob to a viewer.
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      responses:
        '200': { description: The file }
        '404': { description: No such file, or its contents are missing from storage }

  /api/v1/agent-keys:
    get:
      tags: [agent keys]
      summary: What has access to this record
      responses:
        '200':
          description: Every key, live or withdrawn
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  data: { type: array, items: { $ref: '#/components/schemas/AgentKey' } }
    post:
      tags: [agent keys]
      summary: Grant access
      description: >
        Returns data.secret ONCE. Stored as a hash and never retrievable; lose it
        and issue another. Refused for an agent-key caller - a key that can mint
        keys makes revoking one meaningless.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [label]
              properties:
                label: { type: string, maxLength: 60 }
                days: { type: integer, minimum: 1, maximum: 365, default: 30 }
      responses:
        '201': { description: Created, with the secret }
        '400': { description: Too many live keys }
        '403': { description: Only a person may create a key }

  /api/v1/agent-keys/{id}:
    delete:
      tags: [agent keys]
      summary: End a key
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      responses:
        '204': { description: Ended }
        '403': { description: Only a person may revoke a key }
        '404': { description: No such key }

  /api/v1/me:
    get:
      tags: [public]
      summary: Who this credential belongs to
      description: >
        `needsSetup` is derived from name and date of birth being present, never
        stored as a flag - a flag outlives someone clearing a field. City is not
        part of it: it was briefly asked for as free text, which cannot be
        grouped or validated, and the clock comes from the device. The app routes
        to setup when this is true. It is NOT enforced in the API: a bug in the
        setup screen must not lock anyone out of their own health record.
      responses:
        '200':
          description: Account
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  data:
                    type: object
                    properties:
                      id: { type: string, format: uuid }
                      email: { type: string }
                      name:
                        type: string
                        nullable: true
                        description: >
                          As it appears on medical reports. A safety field: every
                          uploaded report is identity-checked against it before a
                          number is read. Where it is missing, files are stored
                          and NOT read.
                      dateOfBirth: { type: string, format: date, nullable: true }
                      city: { type: string, nullable: true }
                      timezone: { type: string, example: Asia/Kolkata }
                      age: { type: integer, nullable: true, description: Worked out from the date, never stored. }
                      needsSetup: { type: boolean }
    patch:
      tags: [public]
      summary: Set name, date of birth, city or timezone
      description: >
        Writes only the fields sent. A blanket update would blank what the caller
        left out, so saving a city would erase the name the report check depends
        on. Legacy zone aliases are normalised by an explicit table - a browser in
        Kanpur reports "Asia/Calcutta" - and a zone that cannot be formatted is
        dropped rather than stored.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, minLength: 2, maxLength: 120 }
                dateOfBirth: { type: string, format: date, example: "1993-04-27" }
                city: { type: string, maxLength: 80 }
                timezone: { type: string, example: Asia/Kolkata }
      responses: { '200': { description: Updated } }
